html,
body {
  margin: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 18px;
  cursor: default;
}
#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100%;
}
